@{
    ViewBag.Title = "Прошедшие игры";
}

<div class="container">
    <h2>Прошедшие игры</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Матч</th>
                <th>Результат Игры</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in ViewBag.Matches)
            {
                <tr>
                    <td><p>@m.firstTeam.name - @m.secondTeam.name</p></td>
                    <td><p>@ViewBag.ResultsEncoder[m.realResult]</p></td>
                </tr>
            }
        </tbody>
    </table>
</div>

